h1 {

	font-size: 350%;
	text-align: center;
	font-family: arial;
	padding-top: 20%;	
	animation: seizure 0.25s infinite;

}

@keyframes seizure {

	0% { 

		transform: translateX(0) 

	}

  	25% { 

  		transform: translateX(5px) 

  	}
  	50% { 

  		transform: translateX(-5px) 

  	}
  	75% { 

  		transform: translateX(5px) 

  	}
  	100% { 

  		transform: translateX(0) 

  	}

}